
<footer class="cards ">

    
   
   <div class="c_name"> &#169; 2026 Wanderlust ,Inc.</div>


    <div >
       <ul class="c-details">
       <li> Privacy</li>
        <li>Terms</li>
        <li>Company details</li>
        </ul>
    </div>


    <div class="f-info-icon">
        <a href="#"> <i class="fa-brands fa-facebook"></i></a>
        <a href="#"> <i class="fa-brands fa-linkedin"></i></a>
        <a href="#"> <i class="fa-brands fa-whatsapp"></i></a>

    </div>



</footer>