<!DOCTYPE html>

<% layout("/layouts/boilerplate") %>

    <body>
        <form action="/listing" method="post" class="needs-validation" novalidate>

            <div class="mb-3">
                <label for="Title" class="form-label">Enter Title:</label>
                <input type="text" name="title" placeholder="Enter Place Name" id="Title" class="form-control" required>
                <div class="invalid-feedback">
                    Please provide a valid Data.
                </div>
                <div class="valid-feedback">
                        Looks good I wish your details are good!
                    </div>
            </div>

            <div class="mb-3">
                <label for="Description" class="form-label">Enter Description:</label>
                <textarea name="description" id="Description" class="form-control" required></textarea>
                <div class="invalid-feedback">
                    Please provide a valid Data.
                </div>
                <div class="valid-feedback">
                        Looks good I wish your details are good!
                    </div>
            </div>

            <div class="mb-3">

                <label for="Price" class="form-label">Enter Price:</label>
                <input type="number" name="price" placeholder="Enter Price" id="Price" class="form-control" required>
                <div class="invalid-feedback">
                    Please provide a valid Data.
                </div>
                <div class="valid-feedback">
                        Looks good I wish your details are good!
                    </div>
            </div>

            <div class="row ">
                <div class="mb-3 col-6">
                    <label for="Title" class="form-label">Enter Location:</label>
                    <input type="text" name="location" placeholder="Enter Location" id="Title" class="form-control"
                        required>
                    <div class="invalid-feedback">
                        Please provide a valid Data.
                    </div>
                    <div class="valid-feedback">
                        Looks good I wish your details are good!
                    </div>
                </div>

                <div class="mb-3 col-6">
                    <label for="country" class="form-label">Enter country:</label>
                    <input type="text" name="country" placeholder="Enter Location" id="country" class="form-control"
                        required>
                    <div class="invalid-feedback">
                        Please provide a valid Data.
                    </div>
                    <div class="valid-feedback">
                        Looks good I wish your details are good!
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Enter image:</label>
                <input type="text" name="image" id="image" class="form-control">
                <!-- <div class="invalid-feedback">
                    Please provide a valid Data.
                </div> -->
            </div>
            <!-- <h3>Image will be added later</h3> -->

            <div class="mb-3">
                <button type="submit" class="btn btn-outline-success">Submit</button>
            </div>
        </form>

    </body>