<% layout("/layouts/boilerplate") %>
<body>
    <% for(datas of data){ %>
    <h2>Title: <%= datas.title %></h2>
    <a href="listing/<%= datas.id %>">Click here See more details</a>
    <a href="listing"></a>
<% } %>

    <br><br>
    <div>
        <!-- <form action="/listing/add" method="get">
            <button type="submit">Add New Place</button>
        </form> -->
    </div>
    

</body>
